<div class="container-fluid">
    <div class="text-center mb-2">
        <h1>Portfolio</h1>
        <p>Aqui se muestra uno de los proyectos realizados por mi persona, dar click en la captura para
            redirigirse al sitio
        </p>
    </div>

    <div class="contenedor-cards row">
        <div class="text-center ">
            <a href="https://djmike099.github.io/"> 
                <img src="assets/Captura_de_pagina.png" class="w-50 h-100 img-fluid" alt="Captura_de_pagina">
            </a>
    </div>       
    </div>
  
</div>