<div class="container-fluid">
    <div class="mx-3 row">
        <div class="col-12 col-md-9 col-lg-8">
            <div class="mt-3">
                <h1 class="mb-0 text-center text-md-start ms-md-0">Kevin Francisco Felipe Cruz</h1>
                <div class="fs-3 text-center text-md-start ms-md-0">Curriculum Vitae</div>

                <ul class="mt-2">
                    <h5 class="mb-0">Datos</h5>
                </ul>
                <ul>
                    <h5 class="mb-0">Contacto</h5>
                    <li><i class="bi bi-telephone-fill" style="margin-right: 0.5rem;"></i><span>+502 4937-6260</span></li>
                    <li><i class="bi bi-envelope-fill"
                            style="margin-right: 0.5rem;"></i><span>kevincruz553@gmail.com</span></li>
                </ul>

                <div class="text-center text-md-start">Enlace a Cv: <a
                        href="https://drive.google.com/file/d/1CRFqItasaecUbDl6cpCGThkvwWYQ4NIE/view?usp=sharing">Curriculum.pdf</a>
                </div>


            </div>
        </div>
        <div class="col-3 col-md-3 col-lg-3 offset-lg-1 d-none d-md-block text-center mt-5">
            <img src="assets/Perfil.jpg" class="rounded-circle img-fluid" alt="Foto Kevin Felipe" />
        </div>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Sobre Mi</h3>
        
        
        <p>Mi nombre es Kevin Francisco Felipe Cruz, actualmente no estoy laborando, soy graduado de Bachiller 
            en Ciencias y Letras con Orientacion en Computacion del Centro Educativo Personalizado "Nezeel", actualmente
            soy estudiante de la Universidad Mariano Galvez de Guatemala, estoy cursando el quinto semestre de 
            Ingenieria en Sistemas de la Informacion y ciencias de la Computacion. 
        </p>

        <p>Poseo conocimientos basicos en algunos lenguajes de programacion como lo son: c++ y Java con el 
            framework de Spring Bot, ademas de otros que son mas relacionados con el Desarrollo web como: Angular, HTML, CSS 
            y Bootstrap, tambien tengo conocimientos basicos sobre Arduino.
        </p>

        <p>Me gusta aprender, sobre las tecnologias y sobre la evolucion que se vive dia a dia tecnologicamente,
            trato de aprender rapido cuando estoy en el proceso de conocer nuevos ambientes de trabajo,
            tecnologias, estrategias o atribuciones que me son asignadas.
        </p>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Habilidades</h3>
    
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Responsabilidad</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Adaptación</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Organización</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </li>
        </ul>
    
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="width: 100%;">Creatividad</li>
            <li class="list-group-item" style="min-width: 7rem;">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </li>
        </ul>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Formacion</h3>

        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Titulo</th>
                        <th scope="col">Lugar / Institucion</th>
                        <th scope="col">Del - Al</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Certificado de Tercero Basico</td>  
                        <td>Instituto Por Cooperativa San Miguel Petapa</td>
                        <td>2013-2015</td>
                    </tr>
                    <tr>
                        <td>Titulo de Bachiller en Ciencias y letras con Orientacion en Computación</td>
                        <td>Centro Educativo Personalizado "Nezeel"</td>
                        <td>2016-2017</td>
                    </tr>
                    <tr>
                        <td>Ingeniería En Sistemas de Información y ciencias de la Computación</td>
                        <td>Facultad de Ingenieria - Universidad Mariano Galvéz</td>
                        <td>2022-Actualidad</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Experiencia</h3>
        <p>No he tenido la oportunidad de laborar en el ambito de la informatica como tal, mas sin
            embargo poseo experiencia en puestos operativos como puestos administrativos los cuales son:
        </p>
        
        <div class="table-responsive mt-4">
            <table class="table ">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Empresa</th>
                        <th scope="col">Puesto</th>
                        <th scope="col">Atribuciones principales</th>
                        <th scope="col">Fecha de Inicio y Fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Samboro, S.A
                        </td>
                        <td>Auxiliar de transporte</td>
                        <td>Entrega directa a clientes de producto</td>
                        <td>12/2018 - 12/2019</td>
                    </tr>
                    <tr>
                        <td>
                            Carro Facil, S.A
                        </td>
                        <td>Asistente de Cobros</td>
                        <td>Asistencia administrativa al departamento</td>
                        <td>05/2021 - 09/2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr class="my-4">

    <div class="m-3">
        <h3 class="mb-4">Idiomas</h3>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Idioma</th>
                        <th scope="col">Estudios</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Certificacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Español</td>
                        <td>Lengua Natal</td>
                        <td>Nativo</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>