/* You can add global styles to this file, and also import other style files */
:root{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #858585;
    // color-rgb: 133, 133, 133;
    // light-color: #D9D9D9;
    font-size: 1.2rem;
}
